
.wishlistmenu__title{
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.wishlistmenu__content__box{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid var(--sec-color);
    font-size: 1.5rem;
    text-transform: capitalize;
}
.wishlistBotText{
    font-weight: bold;
}
.wishlist__productBox{
    min-width: 30%;
    justify-content: start;
}
.wishlist__productimg{
    display: inline-block;
    width: 80px;
    height: 80px;
}
.wishlist__productInfo{
    display: inline-block;
    margin-left: 2rem;
}
.btn-viwe{
    background-color: var(--sec-color);
    color: var(--th-color);
    margin-right: 1rem;
}
.btn-add{
    background-color: var(--th-color);
    color: var(--sec-color);
}




@media (max-width: 768px){
    .wishlistmenu__content__box,
    .wishlist__productBox {
        flex-direction: column;
    }
    .wishlistmenu__content__box div{
        width: 100%;
        margin-bottom: 2rem;
    }
    .wishlistBotText{
        display: none;
    }
    .wishlistmenu__content__box div{
        justify-content: center;
    }
    .wishlist__acitionBox {
        flex-direction: column;
    }
    .btn-viwe,
    .btn-add{
        margin: 0;
        width: 100%;
        margin-bottom: 2rem;
    }
    
}
